@use "../global/variables" as v;
@use "../global/mixin" as m;

.game {
  &__blackboard {
    &__container {
      max-width: 434px;
      width: 50%;
      height: 420px;
      // background-color: v.$blue;
      background-color: v.$blackboard-color;
      border: solid 8px v.$blackboard-border-color;
      border-radius: 5px;
      position: relative;
    }
    &__chalk__1::before,
    &__chalk__1::after,
    &__chalk__2::before,
    &__chalk__2::after {
      position: absolute;
      content: "";
      bottom: 0;
    }
    &__chalk__1::before {
      width: 5%;
      right: 10%;
      border: solid 3px v.$chalk-red-color;
      border-radius: 4px;
    }
    &__chalk__1::after {
      width: 5%;
      right: 50%;
      border: solid 3px v.$white;
      border-radius: 2px;
    }
    &__chalk__2::before {
      width: 4%;
      left: 10%;
      border: solid 3px v.$chalk-blue-color;
      border-radius: 3px;
    }
    &__chalk__2::after {
      width: 6%;
      left: 25%;
      border: solid 3px v.$chalk-yellow-color;
      border-radius: 3px;
    }
    &__eraser__1::before,
    &__eraser__1::after,
    &__eraser__2::before {
      position: absolute;
      content: "";
    }
    &__eraser__1::before {
      bottom: 0;
      width: 10%;
      right: 30%;
      border: solid 10px v.$eraser-under-color;
      border-radius: 0 0 5px 5px;
    }
    &__eraser__1::after {
      bottom: 20px;
      width: 13%;
      right: 29.7%;
      border: solid 5px v.$eraser-top-color;
      border-radius: 1px;
    }
    &__eraser__2::before {
      bottom: 20px;
      height: 1%;
      right: 36%;
      border: solid 5px v.$black;
      border-radius: 1px;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 60%;
      margin: calc(40% / 2) auto;
      background-color: v.$blackboard-color;
      color: v.$white;
      font-size: 50px;
      // border: solid 5px v.$blackboard-color;
      border: solid 3px v.$white;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
        color: v.$chalk-yellow-color;
      }
    }
  }
}
