@use "../global/variables" as v;
@use "../global/mixin" as m;

body {
  position: relative;
  height: 100vh;
  font-family: "M PLUS 1p", sans-serif;
  color: v.$font-color;
  z-index: -3;
  overflow: hidden;

  @include m.mq(sp) {
    overflow: visible;
  }
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../img/main_bg.jpeg");
  z-index: -2;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v.$blue;
    opacity: 0.8;
    z-index: -1;
  }

  @include m.mq(sp) {
    height: auto;
  }
}

.main {
  padding: 60px 40px;
}

// loader
.loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: v.$button-color;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 100;

  &__box {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: start;
    pointer-events: none;
  }

  &__font {
    display: block;
    font-size: 80px;
    font-weight: bold;
    color: v.$white;

    @include m.mq(sp) {
      font-size: 36px;
    }
  }
}
